<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Delete Account</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h3>Delete Acccount</h3>
		<p>An account can only be deleted if it has no entries</p>
		<form action="/ledger/accounts/delete" method="post">
 	   		<div class="form-group">
		        <label for="acc">Account:</label>
		        <select class="form-control" id="acc" name="id">
		            <option th:each="account:${ledgerAccounts}" 
		                    th:value="${account.id}" 
		                    th:text="${'number: ' + account.number + ', name: ' + account.name}" />
		        </select>
		    </div>
		    <input type="hidden" name="_method" value="delete" />
		    <button type="submit" class="btn btn-default">Delete</button>
		</form>
	</div>
</body>
</html>