<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>General Ledger</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<h3>Accounts</h3>
		<table class="table-bordered">
		    <tr th:each="account : ${ledgerAccounts}">
		        <td><a th:href="@{/ledger/account(id=${account.id})}"  th:text="${account.number}"></a></td>
		        <td th:text="${account.name}" />
		        <td th:text="${account.type}" />
	    	</tr>
    	</table>
   	</div>
	<div class="container">
		<a href="/ledger/addaccount" class="btn btn-default">Add Account</a>
		<a href="/ledger/deleteaccount" class="btn btn-default">Delete Account</a>
		<!-- TODO create and download .cvs -->
		<button type="button" class="btn btn-default">Export to .cvs</button>
	</div>
</body>
</html>