<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>General Ledger</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="/">General Ledger</a>
		    </div>
		    	<ul class="nav navbar-nav">
		    	<li class="active"><a href="/ledger">Home</a></li>
		    </ul>
	  	</div>
	</nav>
	<div class="container">
		<h3>Accounts</h3>
		<table class="table-bordered">
		    <tr th:each="account : ${ledgerAccounts}">
		        <td><a th:href="@{/ledger/accounts(id=${account.id})}"  th:text="${account.number}"></a></td>
		        <td th:text="${account.name}" />
		        <td th:text="${account.type}" />
	    	</tr>
    	</table>
   	</div>
   	<br />
	<div class="container">
		<a href="/ledger/accounts/add" class="btn btn-default">Add Account</a>
		<a href="/ledger/accounts/delete" class="btn btn-default">Delete Account</a>
		<button type="button" class="btn btn-default">Export to .cvs</button>
	</div>
</body>
</html>