.table.table-striped .minimal_cell {
    background: none;
    background-color: white;
    border-width: 0;
}

.dl-horizontal dt{
    text-align: left;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
}
