<!DOCTYPE html>
<html>
<head>
	<title>General Ledger</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="/">General Ledger</a>
		    </div>
		    	<ul class="nav navbar-nav">
		    	<li><a href="/ledger">Home</a></li>
		    </ul>
	  	</div>
	</nav>
	<div class="container">
	<h2>Welcome to your general ledger.</h2>
	<p>
	You can add accounts and transactions to the general ledger. Transactions 
	are added in accordance to the double-entry bookkeeping system, where every
	transaction has to be recorded twice, once as a debit entry and once as a 
	credit entry.
	</p>
	<p>
	Accounts can be deleted if they have no transactions. Transactions can be 
	deleted or updated. When a transaction is deleted or updated then both 
	corresponding entries are modified as well.
	</p>
	<p>
	You can also view the trial balance, which is a statement of all credits and 
	debits in the general ledger. You can view the general ledger and trial 
	balance in the application and you can export them to a .csv file.
	</p>
	</div>
</body>
</html>
